<h2 class="contact-firstname-lastname">{{firstName}} {{lastName}}</h2>
<span class="contact-company">Company: {{company}}</span>
<span class="contact-phone">Phone: {{phoneNumber}}</span>
<span class="contact-email">Email: {{email}}</span>
<span class="contact-birthday">Birthday: {{birthday}}</span>
<span class="change-contact-buttons">
  <button class="edit-contact-button btn-warning" name="edit-contact-button"></button>
  <button class="delete-contact-button btn-danger" name="delete-contact-button"></button>
</span>
<hr>
